@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.login{
  background-image: url('./assets/diverse-businesspeople-having-meeting.jpg');
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.description {
  display: -webkit-box;
  max-width: 90%;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.title {
  display: -webkit-box;
  max-width: 90%;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}